<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>USERS</title>
  </head>
  <body>
    <ul>
      <li><%= results[0].name %></li>
      <li><%= results[0].height %></li>
      <li><%= results[0].weight %></li>
      <li><%= results[0].fly %></li>
      <li><%= results[0].fight %></li>
      <li><%= results[0].fire %></li>
      <li><%= results[0].water %></li>
      <li><%= results[0].electric %></li>
      <li><%= results[0].frozen %></li>
      <li><%= results[0].total %></li>
      <li><%= results[0].trainer_name %></li>
    </ul>
  </body>
</html>
